.layout {
  min-height: 100vh;
  background: var(--color-surface-light);
}

.content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px;
  width: 100%;

  @media (min-width: 768px) {
    padding: 48px;
  }
}
